* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: 400 600 800;
  font-display: swap;
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("woff2");
}

:root {
  --White: hsl(0, 100%, 100%);
  --Purple100: hsl(275, 100%, 97%);
  --Light-Purple: hsl(281, 83%, 54%);
  --Purple600: hsl(292, 16%, 49%);
  --Purple950: hsl(292, 42%, 14%);
  
  --Font-WorkSans: "WorkSans";
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: var(--Font-WorkSans);
  color: var(--Purple950);
  background-color: var(--Purple100);
  background-image: url(../assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card {
  width: 327px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--White);
}

/* Cabecera del proyecto */
.title-contain {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.star {
  width: 20px;
}

.title {
  font-size: 3rem;
}

/* Contenedor de Preguntas */
.question-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  cursor: pointer;
}

.question {
  width: 195px;
  font-size: 1.4rem;
  font-weight: 600;
}

.question:hover {
  color: var(--Light-Purple);
}

[open] .icon-btn {  
  content: url(../assets/images/icon-minus.svg);
}

.description {
  width: 268px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--Purple600);
}

.faq:not(:last-child) {
  border-bottom: 2px solid var(--Purple100);
}

/* Cambios de Modo Resposivo */
@media screen and (min-width: 620px) {
  body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
  }

  .card {
    width: 600px;
    padding: 40px;
  }

  .question {
    width: unset;
    font-size: 1.35rem;
  }
  
  .description {
    width: 500px;
  }
}